name: Code Style Check

on: [push]

jobs:
  formatting-check:
    name: Check format of C
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Run clang-format style check for C/C++ sources
      uses: Northeastern-Electric-Racing/clang-format-action@main
      with:
        clang-format-version: '18'
        # exclude vl6180x
        # use the clang-format from embedded base
        format-filepath: "./clang-format"
